
# directories (by name)

/.git-old/
/.vs/

/_build/
/_internal/

/bin/
/ipch/
/lib/

/doc/
/dox/
/ideas/
/releases/
/scratch/
/temp/

Debug Multithreaded DLL/
Debug Multithreaded Dll/
Debug Multithreaded/
Debug/
DebugDLL/
DebugDll/
DebugMTDLL/
DebugMTDll/
DebugMt/
DebugNox/
DebugUNIX/
DebugUnix/
Release Multithreaded DLL/
Release Multithreaded Dll/
Release Multithreaded/
Release/
ReleaseDLL/
ReleaseDll/
ReleaseMTDLL/
ReleaseMTDll/
ReleaseMt/
ReleaseNox/
ReleaseUnix/
UDebug/
UDebugMt/
URelease/
UReleaseMt/
Unicode Debug Multithreaded DLL/
Unicode Debug Multithreaded Dll/
Unicode Debug Multithreaded/
Unicode Release Multithreaded DLL/
Unicode Release Multithreaded Dll/
Unicode Release Multithreaded/

Win32/
x64/


# directories (by pattern)

/include-*/


# files (by name)

.DS_Store
.ruby-version
.update_deps

list_changes.cmd
logging-bailout.txt
prepare.cmd
sh.exe.stackdump
tidydir.cmd
update_deps.cmd

build/makefile.tmpl
build/makefile.tools.xml
build/shwild.tmplgen
test/testpatterns.orj


# files (by pattern)

*~
*.???_obj
*.a
*.app
*.aps
*.b64
*.bak
*.chm
*.d
*.dll
*.dsp
*.dylib
*.exe
*.gch
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.la
*.lai
*.lib
*.lo
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.rar
*.res
*.sbr
*.scc
*.sdf
*.slo
*.so
*.suo
*.swp
*.tlog
*.tmp
*.unsuccessfulbuild
*.vcproj*.user
*.vcxproj*.user
*.xcuserstate
*.zip

RCa0*
RCb0*

build/*.tmplgen
build/*.tmpl
build/*.tools.xml

